# Kommentar - Diese Zeile wird ignoriert
temp/
*.log
praktikum3.pdf
lab4.py
lab4_2.py
data.txt
test.py
praktikum5.py
praktikum6.py
praktikum7.py
praktikum8.py
praktikum9.py
praktikum10.py
praktikum11.py
praktikum12.py
praktikum13.py
praktikum14.py
praktikum15.py
p4.ipynb
ffmpeg
.gitignore
